html{
    background-color:#FFF5E4
}

.App{
    background-color:#FFF5E4;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top:30px;
    margin-bottom:50px;
}

.animalGrid{
    background-color: #FFDDD2;
    border-radius: 30px;
    width:50%;
    /* height:500px; */
    margin-top:30px;
    padding:50px 30px;
    display: flex;
    flex-direction: row;
    flex-wrap:wrap;
    justify-content: center;
    /* border: 2px solid lightgrey; */

}

.button{
    background-color: #FF9494;
    color:white
}